body {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    background: #222;
    color: #ddd;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}
header {
    border-bottom: 0.5px solid #ddd;
    position: relative;
    top: 0;
    text-align: center;
    box-shadow: 0 0.1rem #777777;
}
.header-title {
    font-size: 3rem;
    margin: 0;
    padding: 1rem 0;
    letter-spacing: 0.2rem;
}
.header-title::first-letter {
    color: #fb5800;
}
main { width: 100%; }
.display {
    border: 2px solid #ddd;
    border-radius: 0.5rem;
    width: 80%;
    height: 8rem;
    margin: 4rem auto;
    background: #333;
}
.display-text {
    color: #ddd;
    font-size: 4rem;
    margin: 0;
    line-height: 9rem;
    padding-left: 2rem;
    font-weight: bold;
}
.control-btn-area {
    width: 100%;
    text-align: center;
}
.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: #555;
    color: #ddd;
    font-size: 3rem;
    border: 0.1rem solid #222;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    font-weight: bold;
    margin: 0.35rem;
    box-shadow: 0 0 0.5rem orange;
    cursor: pointer;
}
.sign {
    background: #fb5800;
}
.btn-ac ,.btn-sign-switch,.btn-percent {
    background: #ddd;
    color: #222;
}
.btn-zero {
    width: 20rem;
    border-radius: 10rem;
}